@tailwind base;
@tailwind components;
@tailwind utilities;
 /* Hide scrollbar but allow scrolling on all browsers */
html, body {
  scrollbar-width: none;          /* Firefox */
  -ms-overflow-style: none;       /* IE and Edge */
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;                  /* Chrome, Safari, Opera */
}
